# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
